body{
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin:0;
}
#top-title{
    font-size: 60px;
    border-left: 5px solid rgb(230, 71, 71);
}
.second-title{
    font-size:45px;
    text-align: center;
}
#navy-blue{
    color:rgb(21, 21, 66);
}
.same-size{
    font-size:35px;
}
.special-word{
    color:orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(252, 108, 108), rgb(233, 119, 119));
    color:white;
    font-weight: 600;
    padding:15px 30px;
    border-radius: 5px;
}
#top-section{
    display:flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
#second-section{
    display:flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
#third-section{
    display:flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 150px;
}
#fourth-section{
    display:flex;
    margin-bottom: 150px;
}
#last-section{
    display:flex;
    margin-bottom: 150px;
}
#last1{
    width:50%;
    margin-right: 10%;
    padding:50px;
    margin-top:5%;
}
#last2{
    width:50%;
    box-shadow: 5px 5px 10px gray;
    margin-right: 10%;
    margin-left:5%;
    margin-top:5%;
    padding:10px 10px 100px;

}
#last1 img{
    width:30%;
    height: 70%;
}
#last2 img{
    width:35%;
    margin-left: 30%;
}
.share-width{
    width:50%;
    margin-left:10%;
    margin-top:5%;
    margin-right: 5%;
}
.share-width img{
    width:80%;
    margin-left:5%;
}
.share-width-new2{
    width:50%;
    margin-top:5%;
    margin-right:20%;
}
.first-front-image{
    width:25%;
    margin-left: 10%;
    position:absolute;
}
.first-back-image{
    width:45%;
    margin-top:15%;
    margin-left:15%;
}
#second-front-image{
    width:23%;
    margin-right: 30%;
    position:absolute;
}
#second-back-image{
    width:40%;
    margin-top:40%;
    margin-left:55%;
}
.text{
    text-align: justify;
}

.share-width-new{
    width:30%;
    margin:10px 30px 0px;
    border-radius: 50px;
    padding:5px 30px 80px;
}
.share-width-new img{
    width:60%;
    margin-left: 70px;
    background-image: url(images/shapes/);
}
#first-div{
    background-color:rgb(220, 235, 255);
    margin-left: 150px;
}
#second-div{
    background-color:rgb(255, 234, 223);
}
#third-div{
    background-color:rgb(234, 255, 227);
    margin-right: 150px;
}
footer{
    background-color: rgb(29, 29, 54);
}
#last-one{
    font-family:cursive;
    color:white;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}
#year{
    color:rgb(228, 90, 66);
}
#last{
    color:white;
    font-weight: 500;
    text-align: center;
}
